* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    position: relative;
    justify-content: space-between;;
    align-items: center;
    padding: 0.5rem 0;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.left {
    display: inline-block;
    margin: 0 15px;
}

.left p {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
}

#g {
    color: rgb(5, 255, 5);
}

#r {
    color: rgb(255, 89, 0);
}


#navbar ul{
    margin: 0 60px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

#navbar ul li{
    font-size: 1.3rem;
    
}
#navbar ul li a{
    padding: 4px 15px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

/* hero section */
#home{
    /* border: 2px solid red; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}

#home::before{
    content: "";
    background: url(food2.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

#home h1{
    color: white;
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

#home p{
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.btn{
    padding: 10px 20px;
    background-color: rgb(255, 128, 0);
    color: white;
    /* border: 2px solid white; */
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
}
.btn:hover{
    background-color: green;
    transition-duration: 0.3s;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}